@import "tailwindcss";

.login-form {
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.submit-btn {
  border-radius: 5px;
}

@media only screen and (max-width: 432px) {
  .login-form {
    margin: 20px 0;
  }
}
