@import "tailwindcss";

.loginBg {
  position: relative;
  color: #ffffff;
  font-size: 3em;
  text-shadow: 2px 2px 10px #000000;
}

.loginBg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../../../assets/login-bg.jpg);
  background-size: cover;
  background-position: right;
  z-index: -1;

  mask-image: url(../../../assets/ink-video.gif);
  mask-size: cover;
  mask-position: right;
}

.login-text {
  opacity: 0;
  animation: fade 1s 5s ease-in-out forwards;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 970px) {
  .loginBg {
    font-size: 2em;
  }
}

@media only screen and (max-width: 432px) {
  .login-page {
    padding: 0;
  }

  .loginBg {
    font-size: 1.5em;
  }

  .login-box {
    padding: 0;
  }
}
